In [4]:
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

### read csv

In [56]:
dolph_edges_df = pd.read_csv("D:/Pum_Program/HDS_WORK/Year 3/Semester 1/Data sci/Lab week 4  lecture3/dolphin_edges.csv")

In [9]:
dolph_vertices_df = pd.read_csv("D:/Pum_Program/HDS_WORK/Year 3/Semester 1/Data sci/Lab week 4  lecture3/dolphin_vertices.csv")

In [61]:
dolph_edges = nx.from_pandas_edgelist(dolph_edges_df, source="From", target="To", create_using = nx.MultiDiGraph)

In [62]:
dolph_edges

In [63]:
print(nx.info(dolph_edges) )

Name:
Type: MultiDiGraph
Number of nodes: 62
Number of edges: 159
Average in degree:   2.5645
Average out degree:   2.5645

In [186]:
dolph_edges

## 1. Who are the most popular ?

In [76]:
popular_dolph = pd.DataFrame(dolph_edges.in_degree(),columns=["Node","Degree"])

In [77]:
popular_dolph.sort_values(by="Degree",ascending = False).head()

       Node  Degree
49  Trigger       9
56      Web       9
43  Topless       8
35      SN4       7
38      SN9       7

### ANS : Web & Trigger are the most of popular because they have in_degree most
### Explain: in_degree define as the number of node interacted

## 2. Pick 2 individuals, find the shortest path between them

### Pick Oscar to Triger

In [80]:
dolph_edges_df["Weight"] = 1

In [90]:
dolph_edges_df.head()

     From       To  Weight
0     CCL   Double       1
1    DN16  Feather       1
2    DN21  Feather       1
3    Beak     Fish       1
4  Bumper     Fish       1

In [82]:
dolph_weight_graph = nx.from_pandas_edgelist(dolph_edges_df, source="From", target ="To",edge_attr ="Weight"
                                             ,create_using = nx.MultiDiGraph)

In [83]:
dolph_weight_graph

In [96]:
nx.shortest_path(dolph_weight_graph,'Oscar','Trigger',weight="Weight")

['Oscar', 'PL', 'SN96', 'TR99', 'Trigger']

### the path of 'Oscar' to 'Triger' has 4 weight

In [98]:
nx.shortest_path(dolph_weight_graph,'Oscar',weight="Weight") ### shortest path to other node of Oscar

{'Oscar': ['Oscar'],
 'PL': ['Oscar', 'PL'],
 'TR77': ['Oscar', 'TR77'],
 'SN96': ['Oscar', 'PL', 'SN96'],
 'TR99': ['Oscar', 'PL', 'SN96', 'TR99'],
 'Trigger': ['Oscar', 'PL', 'SN96', 'TR99', 'Trigger'],
 'Vau': ['Oscar', 'PL', 'SN96', 'TR99', 'Trigger', 'Vau']}

## 3. What does the shortest path mean ?

### ANS : For social network data its mean the shortest path that least of pass through the other node                   for communication with destination node (same weight of all edges) 
### เส้นทางที่เราสามารถติดต่อกับ node อื่นได้สั้นที่สุด
### เช่น A สามารถติดต่อกับ B ได้ 
### B สามารถติดต่อกับ C ได้ หาก A ต้องการติดต่อกับ C ก็สามารถไปหา B เพื่อต้องการไปติดต่อกับ C
### ซึ่งแน่นอนว่าอาจจะมีหลายเส้นทางที่จะติดต่อไปหา C ไม่ใช่แค่ผ่าน B แต่เราจะหาเส้นทางที่ระยะสั้นที่สุดในการติดต่อ โดยที่ไม่ต้องติดต่อกันหลาย node (กรณี Weight เท่ากันทุก Edge)

## 4. Find how many components are there in the network

In [185]:
dolph_edges_df

            From       To  Weight
0            CCL   Double       1
1           DN16  Feather       1
2           DN21  Feather       1
3           Beak     Fish       1
4         Bumper     Fish       1
..           ...      ...     ...
154      Topless      Zap       1
155  Ripplefluke      Zig       1
156       Bumper   Zipfel       1
157          SN4   Zipfel       1
158        TSN83   Zipfel       1

[159 rows x 3 columns]

In [181]:
dolph_components = nx.from_pandas_edgelist(dolph_edges_df, source="From", target="To",edge_attr="Weight")

In [184]:
components = [x for x in nx.connected_components(dolph_components)]
len(components)

1

In [183]:
print(components)

[{'SMN5', 'Five', 'Bumper', 'Notch', 'Stripes', 'Cross', 'CCL', 'SN96', 'DN63', 'SN89', 'TR99', 'Whitetip', 'Shmuddel', 'Mus', 'Jonah', 'Vau', 'Patchback', 'SN100', 'Knit', 'Topless', 'MN60', 'TR88', 'Thumper', 'Jet', 'MN23', 'Quasi', 'MN83', 'Wave', 'SN9', 'Zap', 'TR120', 'Kringel', 'Hook', 'Beescratch', 'TSN103', 'TSN83', 'Trigger', 'PL', 'TR77', 'DN21', 'MN105', 'Upbang', 'SN63', 'DN16', 'Feather', 'Fork', 'SN4', 'SN90', 'Scabs', 'Ripplefluke', 'Fish', 'Oscar', 'TR82', 'Zig', 'Haecksel', 'Zipfel', 'Number1', 'Gallatin', 'Grin', 'Double', 'Web', 'Beak'}]

### ANS : this graph has 1 component